body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
	margin: 0 auto;
	width: 1200px;

	background-color: #ffffff;
}

.main-navigation {
	position: relative;
	z-index: 9;
}

.main-header-logo {
	position: absolute;
	left: 530px;
	width: 138px;
	height: 70px;
	z-index: 10;
}

.site-navigation {
	line-height: 26px;
	color: #000000;
	font-weight: 700;

	display: flex;
	align-items: center;
	padding-left: 72px;
	padding-right: 72px;
	min-height: 56px;
	margin: 0;

	background-color: #ffffff;
	list-style: none;
}

.site-navigation li {
	width: 240px;
}

.site-navigation li:nth-child(2) {
	margin-right: 96px;
}

.nav-right {
	text-align: right;
}

.nav-left {
	text-align: left;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #a3c7de;
}

.site-navigation a:active {
	color: #b7b7b7;
}

.intro {
	min-height: 510px;
	margin-top: -57px;
}

.intro img {
	width: 1200px;
	height: auto;
}

.features-intro-mask {
	width: auto;
	min-height: 269px;
	position: relative;
	padding-top: 59px;
}

.features-intro-mask::before {
	content: "";
	position: absolute;
	top: 2px;

	width: 1201px;
	height: 59px;

	background-image: url("../img/polygon.png");
	background-size: 1200px auto;
	background-repeat: no-repeat;	
}

.features {
	margin-top: -275px;
}

.features-intro {
	width: 1200px;
	min-height: 210px;

	padding-top: 59px;

	background-color: #ffffff;
}

.features-intro-text {
	width: 492px;
	margin: 0 auto;
	margin-top: 60px
	
	font-size: 14px;
	line-height: 26px;

	text-align: center;
}

.features-intro-text b {
	font-size: 21px;
	font-weight: 700;
}

.features-intro-text p {
	margin-top: 24px;
}

.features-list {
	margin-top: -67px;
	position: relative;
}

.features-list h3,
.features-list h4 {
	font-size: 21px;
	line-height: 21px;
	width: 155px;
	margin: 0 auto;
}

.features-list p {
	font-size: 14px;
	line-height: 21px;
	margin-top: 66px;
}

.features-list li {
	width: 400px;
	min-height: 257px;
	box-sizing: border-box;

	color: #000000;

	text-align: center;
}

.features-list-items {
	display: flex;
	flex-wrap: wrap;

	padding: 0;
	margin: 0;

	list-style: none;
}

.features-list-item {
	padding: 48px 59px 62px 59px;

	background-color: #eeeeee;
	height: 256px;

	box-sizing: border-box;
}

.features-list-item:first-child,
.features-list-item:nth-child(4) {
	background-color: #81b3d2;
	color: #ffffff;
}

.features-list-item:first-child {
	order: -3;
}

.more-features-items {
	padding: 0;
	display: flex;
	list-style: none;
	min-height: 330px;
}

.more-features-item {
	padding: 48px 59px 62px 59px;
	background-color: #ffffff;
	flex-basis: 400px;
	box-sizing: border-box;
}

.features-list-items li:last-child {
	list-style: none;
	margin: 0;
	background-color: #ffffff;
	width: 1200px;
}

.expanded-features-list-item {
	order: -1;
}

.features-img {
	width: 800px;
	height: 257px;
}

.real-town-img {
	background-image: url("../img/features-1.jpg");
	background-repeat: no-repeat;
	order: -2;
}

.devil-bridge-img {
	background-image: url("../img/features-2.jpg");
	background-repeat: no-repeat;
}

.search-form-section {
	text-align: center;
	padding-top: 48px;
	position: relative;
}

.search-form-section p:first-of-type {
	margin-top: 24px;
}

.search-form-section b {
	font-size: 30px;
	line-height: 36px;
}

.search-form-link {
	display: block;
	width: 569px;
	height: 85px;
	margin: 0 auto;
	margin-top: 48px;
	padding-top: 31px;
	box-sizing: border-box;

	font-size: 21px;
	line-height: 26px;

	background-color: #766357;
	color: #ffffff;
}

.search-form-link:hover,
.search-form-link:focus {
	background-color: #604e43;
}

.search-form-link:active {
	background-color: #503e33;
	color: #827872;
}

.search-form {
	position: absolute;
	left: 316px;
	padding-top: 33px;

	width: 569px;
	min-height: 362px;

	background-color: #ffffff;
}

.search p {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
	font-weight: 700;
}

.search input {
	background-color: #f2f2f2;
	border: none;
	height: 38px;
	border: 2px solid #f2f2f2;
}

.search input:hover {
	background-color: #ebebeb;
	border: 2px solid #ebebeb;
}

.search input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.search-submit {
	width: 458px;
	height: 58px;

	background-color: #81b3d2;
	color: #ffffff;
	border: none;

	text-transform: uppercase;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
}

.search-submit:hover,
.search-submit:focus {
	background-color: #669ec0;
}

.search-submit:active {
	background-color: #5496bd;
	color: #8db5d0;
}

.map img {
	width: 100%;
	height: auto;
}

.main-footer {
	display: flex;
	position: relative;
	margin-top: -127px;
	background-color: rgba(255, 255, 255, 0.9);
	min-height: 120px;
}

.main-footer > * {
	flex-basis: 400px;
	text-align: center;
}

.footer-hashtag {
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	padding-top: 25px;
}

.main-footer li {
	list-style: none;
}

.footer-copyright {
	padding-top: 25px;
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus {
	color: #a1968f;
}

.filter {
	background-color: #596975;
	color: #ffffff;
	margin: 0;
	padding: 0;
	min-height: 217px;
	background-image: url("../img/filter-background.jpg");
	background-repeat: no-repeat;
	position: relative;
}

.filter fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.filter legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
}

.filter ul {
	list-style: none;
	line-height: 21px;
	margin: 0;
	padding: 0;
	margin-top: 31px;
}

.filter li {
	margin-top: 36px;
}

.fieldsets {
	display: flex;
	padding-top: 31px;
	padding-left: 72px;
	padding-bottom: 37px;
	padding-right: 74px
}

.filter-input:disabled + label {
	color: #3c4040;
}

.infrastructure-fieldset {
	flex-basis: 325px;
}

.accommodation-fieldset {
	flex-basis: 480px;
}

.price-fieldset {
	flex-basis: 320px;
}

.filter button {
	width: 133px;
	height: 32px;
	display: block;

	position: absolute;
	right: 170px;
	top: 150px;

	border: 2px solid #ffffff;
	border-radius: 1px;
	background-color: transparent;

	color: #ffffff;
	text-transform: uppercase;
}

.sorting {
	border-bottom: 1px solid #e5e5e5;
	padding-top: 31px;
	padding-left: 72px;
	padding-bottom: 33px;
	display: flex;
	align-items: center;
}

.sorting b {
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	margin-right: 49px;
}

.sorting p {
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	padding: 0;
}

.sorting a {
	margin-left: 33px;
}

.sorting a:first-child {
	margin-left: 40px;
}

.sort-button-active {
	color: #81b3d2;
}

.sort-button {
	border-bottom: 1px dashed #81b3d2;
	color: #cacaca;
}

.sort-button:hover,
.sort-button:focus {
	color: #81b3d2;
}

.sort-button:active {
	border: none;
	color: #000000;
}

.hotels-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.hotel-item {
	border-bottom: 1px solid #e5e5e5;
	position: relative;
	margin: 0;
	padding: 0;
	padding-top: 30px;
	padding-left: 237px;
	padding-right: 73px;
	padding-bottom: 30px;
}

.hotel-item h3 {
	margin: 0;
	padding: 0
}

.hotel-name {
	color: #000000;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.hotel-name:hover,
.hotel-name:focus {
	color: #81b3d2;
}

.hotel-name:active {
	color: #cacaca;
}

.hotel-item-image {
	position: absolute;
	top: 30px;
	left: 72px;
	padding: 0;
	margin: 0;
}

.description {
	line-height: 21px;
	color: #333333;
	margin: 0;
	padding: 0;
	margin-top: 17px;
}

.button-more,
.button-book {
	height: 29px;
	margin-top: 18px;
	padding: 2px 16px 7px 17px;

	display: inline-block;
	height: 27px;
	box-sizing: border-box;

	color: #ffffff;
	font-weight: 700;
}

.button-more {
	width: 111px;
	background-color: #81b3d2;
}

.button-more:hover,
.button-more:focus {
	background-color: #669ec0;
}

.button-more:active {
	background-color: #5496bd;
	color: #94b9d2;
}

.button-book {
	width: 143px;
	background-color: #766357;
}

.button-book:hover,
.button-book:focus {
	background-color: #604e43;
}

.button-book:active {
	background-color: #503e33;
	color: #928a85;
}

.rating {
	position: absolute;
	right: 72px;
	top: 29px;
	width: 112px;
}

.stars {
	width: 112px;
	display: block;

	color: #81b3d2;
	font-size: 18px;
	letter-spacing: 7px;
	text-align: right;
}

.rate {
	background-color: #f2f2f2;
	color: #666666;
	line-height: 21px;
	display: block;
	width: 112px;
	height: 27px;
	padding: 5px 13px 6px 16px;
	margin-top: 52px;
	box-sizing: border-box;
}

.inner-footer {
	display: flex;
	background-color: rgba(255, 255, 255, 0.9);
	min-height: 120px;
}

.inner-footer > * {
	flex-basis: 400px;
	text-align: center;
}

.inner-footer li {
	list-style: none;
}
